body {
  font-family: "Montserrat";
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}
/* headings */
.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}

/* Section */
.coloured {
  color: #fff;
  background-color: #ff4c68;
}
.white-sec {
  background-color: #fff;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Download Buttons */
.db {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* title-section */

#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

/* features-section */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  padding: 10%;
}

.icon:hover {
  color: #ff4c68;
}
.feature-title {
  font-weight: 900;
  font-size: 1.5rem;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}
.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing-section */

#pricing {
  padding: 100px;
}
.pricing-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}
/* cta section*/

/* footer-section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
